#welcome
  .row
    %h3 Welcome to The Action Game!

  .row
    .large-10.medium-12.small-12.columns
      %p Since we are not yet advertising publicly, you are likely here through word-of-mouth from your coach.
      %p
        If you have an invite to use the site, please
        =link_to 'sign in with Google'
        to get started.
      %p
        If you do not, please
        = link_to 'register for coaching', 'foo'
        — while we hope that eventually the website itself will do the teaching, we humbly acknowledge the currently poor UX and lack of context. This site has only ever served for clients who were already receiving small-group training on how to use it.
